@model List<NewsReadDetailsDTO>


@{
    var news = Model;
}

<div class="text-center mb-3 row justify-content-center">
    <a asp-controller="Authors" asp-action="GetAll" class="btn btn-info col-3 me-3" style="width:200px">View Authors</a>
    <a asp-action="Add" class="btn btn-success col-3 ms-3" style="width:200px">Add News</a>
</div>


<table class="table align-middle mb-0 col-12">
    <thead class="bg-secondary bg-gradient">
        <tr class="align-middle text-center">
            <th>Image</th>
            <th>Title</th>
            <th>Details</th>
            <th>Publication Date</th>
            <th>Author</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in news)
        {

            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@item.ImageUrl"
                             style="height: 100px" />
                    </div>
                </td>
                <td>
                    <p class="text-muted mb-0">@item.Title</p>
                </td>
                <td>
                    <p class="text-muted mb-0">@item.NewsDetails</p>
                </td>
                <td class="text-center">
                    <p class="text-muted mb-0">@item.PublicationDate</p>
                </td>
                <td class="text-center">
                    <p class="text-muted mb-0">@item.AuthorName</p>
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID">
                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #14b830;"></i>
                    </a>
                </td>
                <td class="text-center">
                    <form asp-controller="News" asp-action="Del" asp-route-id="@item.ID" method="post">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
