@model List<AuthorReadDTO>


@{
    var authors = Model;
}

<div class="text-center mb-3 row justify-content-center">
    <a asp-controller="News" asp-action="GetNews" class="btn btn-info col-3 me-3" style="width:200px">News</a>
    <a asp-action="AddAuthor" class="btn btn-success col-3 ms-3" style="width:200px">Add Author</a>
</div>

<table class="table align-middle mb-0 bg-light">
    <thead class="bg-secondary bg-gradient">
        <tr class="align-middle text-center">
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Bio</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in authors)
        {

            <tr>
                <td class="text-center">
                    <p class="text-muted mb-0">@author.Name</p>
                </td>
                <td class="text-center">
                    <p class="text-muted mb-0">@author.DOB</p>
                </td>
                <td>
                    <p class="text-muted mb-0">@author.Bio</p>
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@author.ID">
                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #14b830;"></i>
                    </a>
                </td>
                <td class="text-center">
                    <form asp-action="Del" asp-route-id="@author.ID" method="post">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
